@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;

  --mustard-light: #f5d23f;
  --mustard-dark: #d9b520;

  --turquoise-light: #4fd5b8;
  --turquoise-dark: #079fa5;

  --rose-light: #f85585;
  --rose-dark: #c1486c;

  --violet-light: #af8eff;
  --violet-dark: #504bcd;
}
